<div class="w-full h-full flex-col items-center justify-center">
<header class="bg-white">
  <nav class="mx-auto flex w-4/5 items-center justify-between p-6 lg:px-8" aria-label="Global">
    <div class="flex lg:flex-1">
      <a *ngIf="token.length > 0" href="#" class="-m-1.5 p-1.5">
        <img class="w-[100px] h-auto" src="../assets/taskman-logo.svg" alt="">
      </a>
    </div>

    <div *ngIf="token.length > 0" class="lg:flex lg:flex-1 justify-end">
      <button (click)="logOut()" class="text-sm font-semibold leading-6 text-gray-900">Log Out <span aria-hidden="true">&rarr;</span></button>
    </div>
  </nav>
</header>
<main class="justify-normal justify-center items-center h-4/5 w-full">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</main>
</div>